/* Make the entire DOM chain full height */
html,
body,
:root {
  height: 100%;
  width: 100%;
  margin: 0;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
